footer{
    background: #fff;
    padding: 66px 108px;
    @media (max-width:1080px){
        padding: 66px;
    }
    @media (max-width:960px){
        padding: 40px;
    }
    @media (max-width:600px){
        padding: 20px;
    }
    .content{
        display: flex;
        flex-direction: column;
        .menu{
            display: flex;
            flex-direction: column;
            .logo{
                width: 260px;
                margin: 0 auto;
                @media (max-width:960px){
                    width: 180px;
                }
            }
            nav{
                margin-top: 40px;
                ul{
                    display: flex;
                    justify-content: center;
                    @media (max-width:800px){
                        flex-wrap: wrap;
                    }
                    li{
                        display: inline-flex;
                        margin: 0 20px;
                        a{
                            color: #000;
                            font-size: 20px;
                            line-height: 1.2;
                            font-weight: 600;
                            letter-spacing: 4px;
                            @media (max-width:960px){
                                font-size: 16px;
                            }
                            @media (max-width:800px){
                                margin-bottom: 10px;
                            }
                        }
                    }
                    li + li{
                        // margin-left: 40px;
                        @media (max-width:800px){}
                    }
                }
            }
        }
        
    }




    .copyright{
        text-align: center;
        color: #B9B9BA;
        margin-top: 40px;
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 1px;
    }
}