header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 98;
    padding: 24px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    @media (max-width: 1200px){
        padding: 24px;
    }
    @media (max-width: 800px){
        padding: 16px;
    }
    &.fixed{
        // position: fixed;
        background: rgba(255,255,255,.8);
    }

    .logo{
        width: 200px;
        transition: all .3s;
        @media (max-width: 600px){
            width: 160px;
        }

        &:hover{
            opacity: 0.4;
        }
    }

    nav{
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        .nav_box{
            display: flex;
            align-items: center;
            @media (max-width:960px){
                display: none;
                width: 100%;
                position: fixed;
                top: 0;
                right: 0;
                background: #000;
                transition: all .3s;
            }
            .nav_primary{
                display: flex;
                position: relative;
                li{
                    position: relative;

                   a{
                        color: $primary-color;
                        font-weight: 600;
                        letter-spacing: 2px;
                        line-height: 3;
                        padding: 0 16px;
                        color: #000;
                        @media (max-width: 1200px){
                            letter-spacing: 1px;
                            padding: 0 8px;
                        }
                        @media (max-width:960px){
                            line-height: 4;
                        }
                       span{
                            vertical-align: middle;
                            margin-top: -4px;
                            color: #000;
                        }
                        &:hover{
                            background-color: rgba(255,255,255,.2);
                        }
                    }

                }
                > li + li{
                    margin-left: 24px;
                    @media (max-width: 1200px){
                        margin-left: 12px;
                    }
                }

                .nav_secondery{
                    width: 100%;
                    width: auto;
                    opacity: 0;
                    visibility: hidden;
                    border-radius: 0 0 4px 4px;
                    position: absolute;
                    top: 100%;
                    // padding: 10px 0;
                    transition: all .3s;
                    background: $secondery-color;

                    li{
                        padding: 0;
                        a{
                            width: 100%;
                            padding: 0 16px;
                            text-align: center;
                            color: #fff;
                            white-space:nowrap;
                        }

                        &:hover{
                            background-color: rgba(255,255,255,.2);
                            // cursor: pointer;

                            &:after{
                                display: none;
                            }
                        }
                    }
                }
            }
            .nav_primary li:hover .nav_secondery {
                opacity: 1;
                visibility: visible;
            }

            &.open{
                display: block;
                .nav_primary{
                    width: 100%;
                    justify-content: center;
                    flex-direction: column;
                    li{
                        // text-align: center;
    
                       a{
                            color: #fff;
                            padding: 0 40px;
                            span{
                                color: #fff;
                            }
                       }
                    }
                    > li + li{
                        margin-left: 0;
                    }

                    .nav_secondery{
                        // width: 100%;
                        // width: auto;
                        opacity: 1;
                        visibility: visible;
                        // border-radius: 0 0 4px 4px;
                        position: static;
                        top: auto;
                        // // padding: 10px 0;
                        // transition: all .3s;
                        background: none;
    
                        li{
                            // padding: 0;
                                padding: 0 40px;
                            a{
                                // width: 100%;
                                text-align: left;
                                // color: #fff;
                                // white-space:nowrap;
                            }
    
                            &:hover{
                                // background-color: rgba(255,255,255,.2);
                                // cursor: pointer;
    
                                &:after{
                                    // display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        #menu-toggle{
            background-color: transparent;
            // padding-left: 20px;
            display: none;
            @media (max-width:960px){
                display: block;
            }
    
            span{
                display: block;
                background: #000;
                width: 32px;
                height: 4px;
                border-radius: 10px;
                margin: 6px 0;
                position: relative;
                transition: all .3s;
                @media (max-width:640px){
                    width: 24px;
                    height: 3px;
                    margin: 5px 0;
                }
            }
    
            &:hover{
                cursor: pointer;
            }
    
            &.active{
    
                span{
    
                    &:nth-child(2){
                        background: transparent !important;
                    }
    
                    &:nth-child(1){
                        transform: rotate(-220deg);
                        margin-top: 10px;
                    }
    
                    &:nth-child(3){
                        transform: rotate(220deg);
                        margin-top: -20px;
                        @media (max-width:640px){
                            margin-top: -16px;
                        }
                    }
                }
    
                h6{
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
    
}
.home{
    header{
        // position: absolute;
        justify-content: flex-end;
        background: transparent;
        .logo{
            display: none;
        }
        nav{
            #menu-toggle{
                span{
                    background: #fff;
                }
            }
            .nav_box{
                .nav_primary{
                    li{
                       a{
                           color: #fff;
                           span{
                               color: #fff;
                           }
                       }
                    }
                }
            }
        }
        &.fixed{
            justify-content: space-between;
            background: rgba(255,255,255,.8);
            nav{
                #menu-toggle{
                    span{
                        background: #000;
                    }
                }
                .nav_box{
                    .nav_primary{
                        li{
                           a{
                               color: #000;
                               span{
                                   color: #000;
                               }
                           }
                        }
    
                        .nav_secondery{
        
                            li{
                                a{
                                    color: #fff;
                                }
        
                                &:hover{
        
                                    &:after{
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    nav{
        #menu-toggle{
            // display: none;
        }
        .nav_box{
            // display: block;
        }
    }
}